*, *:before, *:after {
	box-sizing: border-box;
}

body {
	background: $page-bg-color;
	font: 400 100%/1.5 $font-sans;
	-webkit-text-size-adjust: 100%;
	color: $body-copy-color;
}

a {
	color: $link-color;
	@include transition(color, background-color, border);
	&:link{
		color: $link-color;
	}
	&:visited{
		color: $link-visited-color;
	}
	&:hover, &:active{
		color: $link-hover-color;
	}
}

#page {
	background-color: #fff;
}