fieldset {
	margin: 1em 0;
	padding: 2em 1em 1em;
	/* Apply borders and padding that keep the vertical rhythm. */
	border: solid 1px $gray-lighter;

	&.filter-wrapper {
		border-top: solid 1px $gray-light !important;
	}

	legend {
		padding: 0 1em;
		color: $gray;
		font-size: 1.1em;
		letter-spacing: 1px;
		border: {
			style: solid;
			width: 1px;
			color: $gray-lighter $gray-lighter transparent;
		}

		a {
			outline: 0;
		}
	}

	&.collapsed {
		margin-top: 1em;
		margin-bottom: 1em;

		legend {
			border-top-color: transparent;
		}

		// override system stlye
		html.js & {

			border: {
				width: 1px;
				color: $gray-lighter transparent transparent;
			}
		}
	}
}

.fieldset-description {
	margin-bottom: 2em;
}

.form-item {
	margin-bottom: 0.75em;

	.description {
		margin-top: 0.5em;
		color: #555;
		font-size: 0.9em;
	}
}

label {
	display: block;
	font-weight: bold;

	&.has-validation {
		padding-left: 25px;

		&:after {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 20px;
			height: 20px;
			font-size: 20px;
			line-height: 20px;
		}
	}

	&.error{
		color: $red;

		&:after {
			content: '\e649';
		}
	}

	&.valid {
		color: $green;

		&:after {
			content: '\e627';
		}
	}
}

input[type='radio'] + label,
input[type='checkbox'] + label {
	display: inline;
}

input[type='text'],
input[type='file'],
input[type='password'],
input[type='url'],
input[type='email'],
input[type='number'],
input[type='search'] {
	@include form-fields;
	height: 32px;

	&.is-error {
		background-color: tint($red, 90%);
		border-color: $red;
		color: darken($red, 25%);
	}

	&.is-valid {
		border-color: $green;
		color: darken($green, 10%);
	}

	&:focus {
		@include form-field-focus;
	}

}

// File upload fields
.form-managed-file {
  .form-file {
    width: 300px;
    height: auto;
    border: 0;
    border-right: 0;
  }

  span.file {
    display: inline-block;
    width: 300px;
    margin-right: -0.25em;
  }
  
  input[type="submit"] {
  	height: auto;
  	padding: 3px 10px 4px;
    border-color: $button-blue;
  }
}

textarea {
	@include form-fields;

	&:focus {
		@include form-field-focus;
	}
}

button,
.button,
a.button:link,
a.button:hover,
a.button:visited,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@include button;
	color: #fff;
	font-family: $font-sans;
}

#user-login {
	max-width: 400px;
	margin: 1em;
}

select {
	max-width: 100%;
}

.form-actions {
	padding: 0.5em 0;
}

::placeholder {
	color: $gray;
}

.block-masquerade{
	max-width: 400px;
	margin-top: 2em;
}

/* Google CSE Site Search Form */
.site-search {
	&__form{
		position: relative;
	}

	&__input[type='search'] {
		width: 100%;
		border: 0;
		border-radius: 0;
		color: #545454;
		appearance: none;
	}

	&__submit,
	&__toggle {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		height: 32px;
		width: 64px;
		margin: 0;
		padding: 0;
	}

	&__submit {
		overflow: hidden;
		background-color: $az-blue;
		background-repeat: no-repeat;
		background-position: center center;
		border: 0;
		border-radius: 0;
		text-indent: 200%;

		.svg & {
			background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMCIgeT0iMCIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2IiB2aWV3Qm94PSIwIDAgMTYgMTYiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDE2IDE2IiB4bWw6c3BhY2U9InByZXNlcnZlIj48dGl0bGU+TWFnbmlmeWluZyBHbGFzczwvdGl0bGU+PHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjRkZGRkZGIiBzdHJva2Utd2lkdGg9IjMiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBkPSJNMTEgMTFsMy41IDMuNSIvPjxjaXJjbGUgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjRkZGRkZGIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgY3g9IjYuNSIgY3k9IjYuNSIgcj0iNS41Ii8+PC9zdmc+');
		}

		.no-svg & {
			background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAI5JREFUeNqsk4EJACEIReUmuBEcoVEc4UZpk0a4NvQS6vDAsos+BFnfp1EBKDEzlXHzVxITjFQMp5HIBujsAXRyLAPrOtb4hVjJpAyhUyAoD/WqR+eY0exCkdEBYDOaAJiQ5T10Ba8Da10Auc4vp4G2n/fews93IEqrL3EM8f6CJE1BnJvYD4EVKUh6BBgArRCb6bXXZtcAAAAASUVORK5CYII=');
		}
	}

	&__toggle {
		display: none;
	}

	//start MQ
	@include breakpoint($bp-medium-max) {
		position: absolute;
		top: 50%;
		right: 10px;
		width: 64px;
		max-width: 64px;
		height: 44px;
		margin-top: -22px;
		overflow: hidden;
		z-index: 10;
		transition: width 0.2s ease, max-width 0.2s ease;

		&.search-open {
			width: calc(100% - 20px);
			max-width: 500px;
		}

		&__input[type='search'] {
			position: absolute;
			top: 0;
			right: 0;
			height: 44px;

			.search-open & {
				padding-right: 100px;
		    }
		}

		&__submit,
		&__toggle {
			width: 64px;
			height: 44px;
			border: 0;
			border-radius: 0;
			line-height: 44px;
			text-align: center;
			cursor: pointer;

			.search-open & {
				width: 0%;
				min-width: 64px;
			}
		}

		&__submit {
			overflow: hidden;
			z-index: 10;
			background-color: $sky-blue;
			background-position: center;
			border-left: solid 2px shade($sky-blue, 40%);
			color: #fff;
			font-size: 1.1em;
			text-align: left;
			text-indent: 120%;

			.search-open & {
				z-index: 90;
				background-color: $az-blue;
				border-color: transparent;
				text-indent: 200%;
	    	}
		}

		&__toggle {
			display: block;
			z-index: 90;
			background-color: #fff;
			opacity: 0;
			color: transparent;

			.search-open & {
				right: 64px;
				width: 44px;
				min-width: 0;
				z-index: 10;
				background-color: transparent;
				opacity: 1;

				&:before{
					display: block;
					position: absolute;
					width: 100%;
					height: 100%;
					content: ' ';

					background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20version%3D%221.1%22%20width%3D%2210%22%20height%3D%2210%22%20x%3D%220%22%20y%3D%220%22%20viewBox%3D%220%200%2010%2010%22%20enable-background%3D%22new%200%200%2010%2010%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20fill%3D%22%23555655%22%20points%3D%2210%202.3%207.7%200%205%202.7%202.3%200%200%202.3%202.7%205%200%207.7%202.3%2010%205%207.3%207.7%2010%2010%207.7%207.3%205%20%22/%3E%3C/svg%3E');
					background-repeat: no-repeat;
					background-position: center;

					.no-svg & {
						background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAvElEQVQYV3WQwQ3CMAxFbanhSjehG0A3CIfsUSaBPXIgG7TdoN2kXEklY5uUpgJycWI/xf9/BD7OuYqArnOczyGESXrW2rIwxR0BL977ARPUImIJBEOMsRbQGNMCQkVEE8O1gB03jjLUw7BWhrJej7LC7EzHzcNnsL2M8RlPuOj5Ayskulcwadp8ljQrqKt/QZlmMfhtBmBMzKqZoNd4eCDO91xVk8azGCR48PNtJsE3XmHzwFlS4HEjgb8AcN1d5wnPTRwAAAAASUVORK5CYII=');
					}
				}
			}
		}
	} // end MQ
}

// Webform Specific Stuff

.tabledrag-handle div {
	box-sizing: content-box;
}
