/**
 * Google Custom Search Styles
 */





// /* Search input */
// #block-ual-cse-ual-cse td.gsc-input{
  
// }

// #block-ual-cse-ual-cse .gsc-input input[type="text"]{
//   /* get rid of Google CSE backround image */

//   width: 100%;
//   height: 44px;
//   margin: 0;
//   padding: 5px 10px;
//   border: 0;
  
//   font-size: 22px;
//   @include breakpoint($bp-medium){
//     font-size: 16px;
//     height: 32px;
//   }
//   .region-content-after &{
//     border:{
//       style: solid;
//       width: 1px 0 1px 1px;
//       color: $gray-light;
//     }
//   }
// }

// /* Search submit button */
// #block-ual-cse-ual-cse td.gsc-search-button{
  
// }

// #block-ual-cse-ual-cse input.gsc-search-button{
//   width: 100%;
//   min-width: 0;
//   height: 44px;
//   margin: 0;
//   padding: 0;
//   overflow: hidden;
//   background-color: $az-blue;
//   background-repeat: no-repeat;
//   background-position: center;
//   cursor: pointer;
//   border: 0;
//   border-radius:  0 3px 3px 0;
//   /* Hide "search" text in button */
//   text-indent: -500%;
//   text-transform: capitalize;
//   .svg &{
//     background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMCIgeT0iMCIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2IiB2aWV3Qm94PSIwIDAgMTYgMTYiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDE2IDE2IiB4bWw6c3BhY2U9InByZXNlcnZlIj48dGl0bGU+TWFnbmlmeWluZyBHbGFzczwvdGl0bGU+PHBhdGggZmlsbD0ibm9uZSIgc3Ryb2tlPSIjRkZGRkZGIiBzdHJva2Utd2lkdGg9IjMiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBkPSJNMTEgMTFsMy41IDMuNSIvPjxjaXJjbGUgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjRkZGRkZGIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgY3g9IjYuNSIgY3k9IjYuNSIgcj0iNS41Ii8+PC9zdmc+');
//   }
//   .no-svg &{
//     background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAI5JREFUeNqsk4EJACEIReUmuBEcoVEc4UZpk0a4NvQS6vDAsos+BFnfp1EBKDEzlXHzVxITjFQMp5HIBujsAXRyLAPrOtb4hVjJpAyhUyAoD/WqR+eY0exCkdEBYDOaAJiQ5T10Ba8Da10Auc4vp4G2n/fews93IEqrL3EM8f6CJE1BnJvYD4EVKUh6BBgArRCb6bXXZtcAAAAASUVORK5CYII=');
//   }
//   @include breakpoint($bp-medium){
//     height: 32px;
//   }
// }
// #block-ual-cse-ual-cse input.gsc-search-button:hover,
// #block-ual-cse-ual-cse input.gsc-search-button:focus{
//   background-color: #354F7E;
// }

/* Search results pagination links */
.gsc-control-cse .gsc-results .gsc-cursor-box {
  margin-bottom: 0;
  padding: 0;
}
.gsc-control-cse .gsc-results .gsc-cursor {
  display: block;

}
.gsc-control-cse .gsc-results .gsc-cursor:after {
  content: "";
  display: table;
  clear: both;
}
.gsc-control-cse .gsc-results .gsc-cursor-box .gsc-cursor-page {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  border-style: solid;
  border-width: 1px 1px 1px 0;
  border-color: #ddd;
  background-color: transparent;
  color: #333;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
}
.gsc-control-cse .gsc-results .gsc-cursor-box .gsc-cursor-page:hover{
  background-color: #eee;
}
.gsc-control-cse .gsc-results .gsc-cursor-box .gsc-cursor-page:first-child{
  border-left-width: 1px;
}
.gsc-control-cse .gsc-results .gsc-cursor-box .gsc-cursor-current-page {
  border-color: #ddd;
  background-color: transparent;
  color: #333;
}
.gsc-control-cse .cse .gsc-results .gsc-cursor-page.gsc-cursor-current-page,
.gsc-control-cse .gsc-results .gsc-cursor-page.gsc-cursor-current-page{
  text-shadow: none;
  background-color: #CED8E7;
}
.gsc-control-cse .gsc-selected-option-container{
  position: relative;
  min-width: 100px !important;
  padding: 0 13px 0 0;
  cursor: pointer;
}
.gsc-control-cse .gsc-selected-option-container:after{
  display: block;
  position: absolute;
  content:" ";
  top: 50%;
  right: 10px;
  margin-top: -2px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #555 transparent transparent;
}
.gsc-control-cse .gsc-selected-option-container .gsc-option-selector{
  display: none;
}
.gsc-control-cse .gsc-option-menu{
  right: auto !important;
  left: 0;
  top: 0 !important;
}
.gsc-control-cse .gsc-selected-option-container:hover{
  background-color: #CED8E7;
}
.gsc-control-cse .gsc-option-menu-item{
  color: #000;
}
.gsc-control-cse .gsc-option-menu-item:hover{
  background-color: #CED8E7;
}
.gsc-control-cse .gsc-webResult.gsc-result,
.gsc-control-cse .gsc-webResult.gsc-result:hover,
.gsc-control-cse .gsc-imageResult,
.gsc-control-cse .gsc-imageResult:hover,
.gsc-control-cse .gsc-webResult.gsc-result.gsc-promotion,
.gsc-control-cse .gsc-webResult.gsc-result.gsc-promotion:hover{
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #eee;
  padding-bottom: 1em;
}
/* Thumbnails in search results */
.gsc-control-cse .gs-web-image-box,
.gsc-control-cse .gs-promotion-image-box{
  padding: 0;
  margin: 5px 10px 0 0;
}
.gsc-control-cse .gs-result img.gs-image,
.gsc-control-cse .gs-result img.gs-promotion-image{
  border: 0;
}

/* Promotions */
.gsc-control-cse .gsc-webResult.gsc-result.gsc-promotion,
.gsc-control-cse .gsc-webResult.gsc-result.gsc-promotion:hover {
  border-color: #BCDABD;
  background-color: #F2F7F2;
  border-width: 0 0 0 3px;
  padding: 1em;
}
.gsc-control-cse .gsc-webResult.gsc-result.gsc-promotion .gs-visibleUrl{
  font-weight: bold;
}

@keyframes target-highlight{
  0%{
    box-shadow: 0 0 15px 10px rgba(tint($alert-yellow,70%),0);
  }
  5%{
    box-shadow: 0 0 15px 10px rgba(tint($alert-yellow,70%),1);
  }
  100%{
    box-shadow: 0 0 15px 10px rgba(tint($alert-yellow,70%),0);
  }
}
#site-search:target {
  @include breakpoint($bp-medium){
    animation: target-highlight 5s;
  }
}