/**
 * @file
 * Styles for the media library.
 *
 * The display and layout of the Media browser assumes Drupal's Seven theme as
 * the theme active when this is displayed.
 */

/* jQuery UI Resets */
.ui-tabs {
  padding: 0;
}

.ui-front {
  z-index: 10001 !important;
  background: #000;
}

.ui-dialog.media-wrapper .ui-dialog-content {
  padding: 0;
  background-color: #fff;
}

.ui-dialog.media-wrapper .ui-dialog-buttonpane {
  display: none;
}

#media-browser-tabset .ui-widget-header {
  background: none;
}

/* Remove the default border */
.ui-widget-content {
  border: none;
  background: transparent;
  border-radius: 0;

  &.media-browser-tab {
    background-color: #fff;
  }
}


.ui-widget-header {
  border: 0;
  background-color: transparent;
  background-image: none;
}

.ui-tabs .ui-tabs-nav li {
  margin: 1px 2px 0 0;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  margin: 1px 2px 0 0;
  border-radius: 0;
  background: $gray-lighter;
  font-weight: inherit;
  border: 0;

  a {
    color: $az-blue;
  }
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  background: $gray-light;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  background: #fff;
}

.media-wrapper .ui-dialog-titlebar-close {
  top: auto;
  right: 0;
  bottom: -47px;
  z-index: 1;
  padding: 0;
  margin: 0;
  height: 47px;
  width: 47px;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M9.9%208l6-6c.3-.3.3-.7%200-.9L15%20.2c-.3-.3-.7-.3-.9%200l-6%206-6-6c-.3-.3-.7-.3-.9%200l-1%201c-.3.3-.3.7%200%20.9l6%206-6%206c-.3.3-.3.7%200%20.9l.9.9c.3.3.7.3.9%200l6-6%206%206c.3.3.7.3.9%200l.9-.9c.3-.3.3-.7%200-.9L9.9%208z%22/%3E%3C/svg%3E');
  .no-svg & {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAv0lEQVQ4T5WTiw3DIAxE8QTNKF0hm4QROlG6STtCR8kG9Iyw5GAbkkgRyuedz4ehUsozpfTB/SKiN9bpdWLwcIB4NCrPRBS8MEN4sWHdVdlQpIfBZGLwiogLo+UqMBOJ4NqCTsxzgu+/FnLtudpWYZ8EAiccsgsbB4N2TGX51zhoLmQ2pPJ1AScwHZPZ4j7EvnJudDgnehsNLGmP5kQGKYQHwa4o8OVRnsKBCG/vygJ3D9MGUDI59GGankTHSf4DMyeDPX1qPtQAAAAASUVORK5CYII=');
  }

  background-repeat: no-repeat;
  background-color: $nav-blue;
  background-position: center;
  background-size: 12px;

  &:hover {
    background-color: tint($nav-blue,15%);
  }

  .ui-button-icon-primary {
    display: none;
  }
}

/* *********************************************************** */
/* Browser layout themeing */
body.page-media-browser {
  background-color: transparent;
}
/* Size the branding header appropriately */
#branding {
  padding: 10px 10px 0px 10px;
  background-color: $az-blue;
}

#media-browser-tabset {
  background: #fff;
}

#media-browser-tabset #branding h1 {
  float: left;
  height: 16px;
  margin-top: 0px;
}

/* Float the tabs right to keep the UI consistent across themes */
#media-tabs-wrapper {

}

#media-browser-tabset ul.tabs {
  padding: 0;
  border: none;
}

/* Reset the height to match the browser */
#media-browser-tabset .tabs.primary a {
  margin-right: 0;
  font-weight: normal;
  font-size: 16px;
  outline: 0;
}

/* *********************************************************** */
/* Media item display */

.media-item {
  width: 110px;
  background: #eee;
  border: 1px solid #CCCCCC;
  display: inline-block;
  padding: 5px;
  position: relative;

  img {
    display: block;
    margin: 0 auto;
  }

  .label-wrapper {
    text-align: center;
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.85);
    opacity: 0;
    transition: opacity 0.2s ease;

    label {
      padding: 0;
      font-size: 12px;
      color: $body-copy-color;
      line-height: 1.2;
    }
  }
}



/* Media item lists */

#media-browser-library-list {
  margin: 0;
  padding: 0;
}

.media-list-thumbnails {
  li {
    float: left;
    list-style: none;
    margin: 0 10px 10px 0;
  }

  a {
    text-decoration: none;
  }

  .media-item {
    transition: border-color 0.2s ease;
    &.selected {
      background: tint($alert-yellow,70%);
      border-color: $az-blue;
    }

    &:hover {
      border-color: $az-blue;
      cursor: pointer;

      .label-wrapper {
        opacity: 1;
      }
    }
  }
}

.media-list-thumbnails .form-type-checkbox {
  bottom: 117px;
  left: 6px;
  margin: 0;
  padding: 0;
  position: relative;
}

/* File field */

.media-widget .preview {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

.media-browser-tab {
  .view-filters {
    margin-bottom: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px #eee;
  }

  .views-widget-filter-type,
  .views-widget-sort-by,
  .views-widget-sort-order {
    display: inline-block;
    margin-right: 10px;
  }

  .views-widget-sort-order {
    margin-right: 0;
  }
}

.form-media {
  .ajax-progress-throbber {
    // hiding this thing becuase it appears between the buttons, and that's dumb.
    display: none;
  }
}